pipeline/Demo_Lookup_ForEach.json
{
	"name": "Demo_Lookup_ForEach",
	"properties": {
		"description": "This pipline is used to lookup and parse the values of the lookup to foreach",
		"activities": [
			{
				"name": "LookupCategories",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[Demo].[GetProductCategories]"
					},
					"dataset": {
						"referenceName": "SQLServerTable_Categories",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachCategories",
				"description": "This will loop take one by one categories desc to get sales data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupCategories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupCategories').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SalesFromSQLToADLS",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[Demo].[GetSales]",
									"storedProcedureParameters": {
										"ProductCategory": {
											"type": "String",
											"value": {
												"value": "@item().Category",
												"type": "Expression"
											}
										}
									}
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"columnMappings": {
										"OrderDate": "OrderDate",
										"PurchaseOrderNumber": "PurchaseOrderNumber",
										"Amount": "Amount"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLServerTables_Sales",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDataLakeStoreFile1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "UpdateDetails",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SalesFromSQLToADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Demo].[UpdateProcessingDetails]",
								"storedProcedureParameters": {
									"Duration": {
										"value": {
											"value": "@activity('SalesFromSQLToADLS').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ProductCategory": {
										"value": {
											"value": "@item().Category",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLocal",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}